<% if !@errors.blank? %>
  <p class="errors">
    <%= "#{@errors}" %>
  </p>
<% end %>

<div class="col-md-4"></div>
<form action="<%= people_form_action(@person) %>" method="post" id="<%= people_form_id(@person) %>" class="<%= people_form_class(@person) %> col-md-4">
	<input type="hidden" name="_method" value="<%= people_form_method(@person)%>" />
	<div class="form-group"><!-- added cclass=form-group-->
		<label for="first_name">First Name</label>
		<input class="form-control name" type="text" name="first_name" value="<%= @person.first_name %>" /><!-- added class=form-control name -->
	<!--</div>removed this line-->

	<!--<div>removed this line-->
		<label for="last_name">Last Name</label>
		<input class="form-control name" type="text" name="last_name" value="<%= @person.last_name %>" />
	<!--</div>removed this line-->

	<!--<div>removed this line-->
		<label for="birthdate">Birthdate</label>
		<input class="form-control birthdate" name="birthdate" type="date" value="<%= @person.birthdate %>" />
	</div>

	<!--<div>removed this line-->
		<!--<input type="submit" /> removed this line -->
		<button class="btn btn-large btn-block button-title" type="submit">Submit</button>
	<!--</div>removed this line-->
</form>
</div>