<div class="people-database-bg">
<h1 class="people-list-title table-indent">People</h1>
<table class="table-indent">
	<thead>
		<!-- <th>ID</th> -->
		<th class="people-list-title">Name</th>
		<th class="people-list-title">Birthdate</th>
		<th class="people-list-title">Edit</th>
		<th class="people-list-title">Delete</th>
	</thead>
	<tbody>
		<% @people.each do |person| %>
			<tr>
				<!-- <td>
					<%= "#{person.id}" %>
				</td> -->
				<td class="table-margin" id="table-name">
					<a href="<%= "/people/#{person.id}" %>">
					<%= "#{person.first_name} #{person.last_name}" %>
				</a>
				</td>
				<td class="table-margin" id="table-birthdate">
					<!--<%= "#{person.birthdate}" %> -->
					<%= "#{person.birthdate.strftime("%m")}/#{person.birthdate.strftime("%d")}/#{person.birthdate.strftime("%Y")}" %>
				</td>
				<td class="table-margin">
					<a href="<%= "/people/#{person.id}/edit" %>">Edit</a>
				</td>
				<td>
					<form action="<%= "/people/#{person.id}" %>" method="post">
						<input type="hidden" name="_method" value="delete" />
						<input type="submit" value="Delete" />
					</form>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>
